<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>

<body>
    <form method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit">
    </form>
    <p>Data Exist</p>
    <p>First Name: {{ first_name }}</p>
    <p>Second Name: {{ second_name }}</p>

</body>

</html>